div(class="main container-fluid text-center")
    div(class="choicesdiv")
      select(id="teamselect" class="form-control")
        option(value="All") Full NBA
        option(value="DavidsTheYounger") Davids The Younger
        option(value="DavidsTheWiser") Davids The Wiser
      select(id="dateselect" class="form-control")
        option(value="Full") Full Season
        option(value="Today") Today
        option(value="Yesterday") Yesterday
      select(id="pointselect" class="form-control")
        option(value="Real") Real stats
        option(value="Fantasy") Fantasy points
    div(class="headerdiv")
      h1 NBA Stats
    div(class="tablediv")
      table(id="statstable" class="display" width="100%")
    div(class="notesdiv" style="text-align:right;")
      h4 *does not reflect actual fantasy points recorded by starting lineups
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript")
link(href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css")
script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript")
script.
  window.onload = function() {
    var test1 = JSON.parse("#{scoreboardHeaders}".replace(/&quot;/g,'"'));
    var test2 = JSON.parse("#{scoreboardRowset}".replace(/&quot;/g,'"'));
    var test3 = JSON.parse("#{allPlayersHeaders}".replace(/&quot;/g,'"'));
    var test4 = JSON.parse("#{allPlayersRowset}".replace(/&quot;/g,'"'));

    var headers = JSON.parse("#{dashboardHeaders}".replace(/&quot;/g,'"'));
    var fullResults = JSON.parse("#{dashboardRowSet}".replace(/&quot;/g,'"'));
    var teamRosters = JSON.parse("#{teamRosters}".replace(/&quot;/g,'"'));
    var scoringMap = JSON.parse("#{fantasyScoring}".replace(/&quot;/g,'"'));
    $('#dateselect').val("#{dateOption}");
    var filteredResults = fullResults;
    var createFooter = function(n) {
      //create footer (surely there's a saner way to do this)
      var footerHTML = '<tfoot><tr>';
      for (var i = 0; i < n; i++) {
          footerHTML += '<td style="padding: 10px 18px 6px 10px;"/>';
      }
      $('#statstable').append(footerHTML + '</tr></tfoot>');
    };
    createFooter(headers.length);
    var table = $('#statstable').DataTable( {
      pageLength: 50,
      columns: headers,
      data: filteredResults,
      footerCallback: footerCallback,
      order: [[headers.length - 1, "desc"]]
    });
    $('#dateselect').change(function() {
      self.location = '/' + $("option:selected", this)[0].value;
    });
    $('#teamselect').change(function() {
      filteredResults = [];
      var roster = teamRosters[$("option:selected", this)[0].value];
      if (roster) {
        for (var i in fullResults) {
          if (roster.includes(fullResults[i][0])) {
            filteredResults.push(fullResults[i]);
          }
        }
      }
      else {
        filteredResults = fullResults;
      }
      var displayHeaders = [];
      var displayResults = [];
      if ($('#pointselect').val() === 'Fantasy') {
        var fantasyCols = setUpFantasyCols();
        displayHeaders = fantasyCols[0];
        displayResults = fantasyCols[1];
      }
      else {
        displayHeaders = headers;
        displayResults = filteredResults;
      }
      table.destroy(); //can't i just redraw the dang thing??
      table = $('#statstable').DataTable( {
        pageLength: 50,
        columns: displayHeaders,
        data: displayResults,
        footerCallback: footerCallback,
        order: [[displayHeaders.length - 1, "desc"]]
      });
    });
    $('#pointselect').change(function() {
      var opt = $("option:selected", this)[0].value;
      var displayHeaders = [];
      var displayResults = [];
      if (opt === 'Real') {
        displayHeaders = headers;
        displayResults = filteredResults;
      }
      else if (opt === 'Fantasy') {
        var fantasyCols = setUpFantasyCols();
        displayHeaders = fantasyCols[0];
        displayResults = fantasyCols[1];
      }
      table.destroy(); //can't i just redraw the dang thing??
      $("#statstable").empty();
      createFooter(displayHeaders.length);
      table = $('#statstable').DataTable( {
        pageLength: 50,
        columns: displayHeaders,
        data: displayResults,
        footerCallback: footerCallback,
        order: [[displayHeaders.length - 1, "desc"]]
      });
    });
    var setUpFantasyCols = function () {
      var displayResults = [];
      for (var row in filteredResults) {
        var displayHeaders = [];
        var displayRow = [];
        for (var col in filteredResults[row]) {
          if (isNaN(parseFloat(filteredResults[row][col])) || col == (headers.length - 1)) {
            displayRow.push(filteredResults[row][col]);
            if (!displayHeaders.includes(headers[col])) {displayHeaders.push(headers[col]);}
          }
          else if (scoringMap.hasOwnProperty(headers[col].title)) {
            displayRow.push(Math.round(10 * filteredResults[row][col] * scoringMap[headers[col].title])/10);
            if (!displayHeaders.includes(headers[col])) {displayHeaders.push(headers[col]);}
          }
          else if (headers[col].title === 'FGA') { //hack city
            displayRow.push((parseFloat(filteredResults[row][col]) - parseFloat(filteredResults[row][col-1])) * scoringMap['FGA-FGM']);
            if (!displayHeaders.includes({title:"FGMi"})) {displayHeaders.push({title:"FGMi"});}
          }
        }
        displayResults.push(displayRow);
      }
      return [displayHeaders, displayResults];
    };
    var footerCallback = function (row, data, start, end, display) {
      var api = this.api(), data;

      // Remove the formatting to get integer data for summation
      var intVal = function (i) {
          return typeof i === 'string' ?
              i.replace(/[\$,]/g, '') * 1 :
              typeof i === 'number' ?
              i : 0;
      };

      // Total over this page
      for (var i in data[0]) {
        if (headers[i].title.endsWith('%')) {
          num = api
              .column( i-2 )
              .data()
              .reduce(function (a, b) {
                  return intVal(a) + intVal(b);
              }, 0);
          denom = api
              .column( i-1 )
              .data()
              .reduce(function (a, b) {
                  return intVal(a) + intVal(b);
              }, 0);
          pageTotal = Math.round(num/denom*1000)/10;
        }
        else {
          pageTotal = Math.round(api
              .column( i )
              .data()
              .reduce(function (a, b) {
                  return intVal(a) + intVal(b);
              }, 0)*10)/10;
        }

        // Update footer
        if (i === "0") {
          $(api.column( i ).footer()).html('Totals:');
        }
        else if (parseFloat(i) === (api.columns()[0].length - 1)) {
          $(api.column( i ).footer()).html(pageTotal + '*');
        }
        else {
          $(api.column( i ).footer()).html(pageTotal);
        }
      }
    };
  };
