div(class="tablediv")
    table(id="statstable" class="display" width="100%")
    include modal.pug
//- div(class="notesdiv" style="text-align:right;")
//-     h4 *does not reflect actual fantasy points recorded by starting lineups
script
  include ../scripts/dataTable.js
script.
  window.onload = function() {
    $('#dateselect').val("#{dateOption}");
    $('#teamselect').val(readCookie("teamselect", "All"));
    $('#pointselect').val(readCookie("pointselect", "Real"));
    headers = JSON.parse("#{dashboardHeaders}".replace(/&quot;/g,'"'));
    fullResults = JSON.parse("#{dashboardRowSet}".replace(/&quot;/g,'"'));
    filteredResults = fullResults;
    scoringMap = JSON.parse("#{fantasyScoring}".replace(/&quot;/g,'"'));
    teamRosters = JSON.parse("#{teamRosters}".replace(/&quot;/g,'"'));
    createTable(headers, filteredResults);
    $('#dateselect').change(function() {
      self.location = '/' + $("option:selected", this)[0].value;
    });
    $('#teamselect').change(function() {
      filteredResults = [];
      var opt = $("option:selected", this)[0].value;
      var roster = teamRosters[opt];
      setCookie('teamselect', opt);
      if (roster) {
        fullResults.forEach(function(result) {
          if (roster.includes(result[0])) {
            filteredResults.push(result);
          }
        });
      }
      else {
        filteredResults = fullResults;
      }
      var displayHeaders = [];
      var displayResults = [];
      if ($('#pointselect').val() === 'Fantasy') {
        var fantasyCols = setUpFantasyCols();
        displayHeaders = fantasyCols[0];
        displayResults = fantasyCols[1];
      }
      else {
        displayHeaders = headers;
        displayResults = filteredResults;
      }
      redrawTable(displayHeaders, displayResults);
    });
    $('#pointselect').change(function() {
      var opt = $("option:selected", this)[0].value;
      setCookie('pointselect', opt);
      var displayHeaders = [];
      var displayResults = [];
      if (opt === 'Real') {
        displayHeaders = headers;
        displayResults = filteredResults;
      }
      else if (opt === 'Fantasy') {
        var fantasyCols = setUpFantasyCols();
        displayHeaders = fantasyCols[0];
        displayResults = fantasyCols[1];
      }
      redrawTable(displayHeaders, displayResults);
    });
    $("#statstable").on('click', 'tbody tr', function () {
        modalTitle = $('td', this).eq(0).text();
        $('#modal').modal("show");
    });
    $('#teamselect').trigger("change");
    $('#pointselect').trigger("change");
  };